

/*navbar styles*/

.navbar-brand img {
    position: absolute;
    /*width: 100%;*/
    left: 50%;
    top: 0;
    margin-left: -60px;
    height: 60px;
}


.navbar-toggle {
    z-index:3;
    border-radius: 0;
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default {
  background: rgba(230, 221, 221, 0.7);
}

.navbar-nav>li>a {
  line-height: 30px;
  color: #908989;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: rgba(255, 255, 255, 0.86);
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #9c9792;
}

@media only screen and (max-width: 1100px){

.navbar-header {
    float: left;
    border-bottom: 1px solid #9c9792;
    background: rgba(255, 255, 255, 0.86);
    height: 61px;
}
}

/*icon bar*/
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 5px;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:hover {
    background-color: white;
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .navbar-header {
      float: left;
      border-bottom: 1px solid #e27e14;
      background: rgba(255, 255, 255, 0.86);
      height: 61px;
  }
}*/


.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: transparent;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0;
}

/*change navbar breakpoint*/

@media (max-width: 1100px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}

/*jumbotron area*/

.container-1 {
  margin-bottom:10%;
  background-image:;
  background-repeat: no-repeat;
  background-size: cover;
}

#content {
  text-align: center;
  padding-top: 10%;
  /*text-shadow: 0px 4px 3px rgba(3, 17, 53, 0.4),
                0px 8px 13px rgba(0, 0, 0, 0.1),
                0px 18px 23px rgba(113, 29, 29, 0.1);*/
  /*height: 800px;*/
}

.wrapper {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 10px;
}

span.name {
  color: #9c9792;
  font-size: 40px;
}

/*call to action section--above the footer*/



/*projects area*/
#projects {
  padding-top: 65px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  /*width: 500px;*/
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(23, 23, 23, 0.56);
  color: white;
}

img > .thumbnail {
  width: 50%;
  margin: auto;
}

.thumbnail:hover .overlay {
  opacity: 1;
}

.overlay h2 {
  font-size: 25px;
}

.overlay h3, .overlay h2 {
  margin-left: 15px;
}

.overlay a {
  color: white;
}

img.cover {
  object-fit: cover;
}

/*footer area styles*/

footer p {
  font-size: 1.5em;
  background-color: #fff;
  margin-bottom: 0;
}



/*page overview styles--body/wrapper*/

body {
  font-family: 'Roboto', sans-serif;

}

html {
  height: 100%;
}





/*font-awesome stles*/

.fa {
  font-size: 40px;
  margin: 15px 30px;
  color: #9c9792;
}

/*link styles*/
.navbar-default .navbar-nav>li>a {
  color: #908989;
  font-size: 1.5em;
}


.tempborder {
  border: 1px dashed red;
}

/*font styles*/

* {
  font-size: 12px;
}

.container-1 h2 {
  text-shadow: 1px 1px white;
}

h1, h3 {
  color: white;
}

h1 {
  font-weight: 700;
  font-size: 5em;
}

hr {
  width: 400px;
  border-top: 1px solid #000;
}


p {
  text-align: center;
}

.about {
  font-size: 2em;
  text-align: justify;
  margin-bottom: 8px;
}

#about {
  padding-top: 65px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}


  .thumbnail {
  padding: 0;
  border: 0 none;
  box-shadow: none;
}


body {
  font-family: 'Rokkitt', serif;
  font-size: 16px;
}

btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
}

.btn-default {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    border-color: #000;
    margin-top: 18px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #9c9792;
    background-color: #fff;
    /*border: 1px solid black;*/
}

form .btn-default {
    color: rgb(6, 6, 6);
    background-color: rgba(255, 255, 255, 0);
    border-color: #ccc;
}

.form-control {
  border-radius: 0;
}

#contact {
  padding-top:65px;
}

.container {
  margin-bottom: 6%;
}
